@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.dayContainer {
  container-type: inline-size;
}

.dayContainerChild {
  font-size: clamp(1rem, 30cqi, 16rem);
}

@page {
  size: landscape;
}

@media print {
  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
